/* Styles for website header */

/* Logo and navigation */
body > header
{
    /* Displays logo and nav on opposite sides */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /* Places logo and nav on the same text line */
    align-items: baseline;
}

/* Logo */
.company-logo
{
    /* Sets size of logo */
    height: 66%;
    width: max(19.5%, 500px);

    /* Sets logo (svg) */
    background-image: var(--logo-image);
    background-repeat: no-repeat;
    background-position: 23% bottom;
    background-size: contain;

    /* Moves logo to the bottom of header */
    position: relative;
    top: 34%;
}

/* navigation */
body > header > nav
{
    /* Removes markers and margins */
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;

    /* Evenly distributes nav items */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /* Moves nav with the logo (to the bottom of header) */
    position: relative;
    top: 34%;
}

/* --------------------- */
/* Gap between nav items */
/* --------------------- */
body > header > nav li
{
    padding-right: 34px;
}

body > header > nav:last-child
{
    padding-right: 0;
}
/* --------------------- */
