@font-face {
    font-family: OpenSans;
    src: url(/assets/fonts/OpenSans-ExtraBold.woff2) format('woff2'),
         url(/assets/fonts/OpenSans-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}

/* --------------------- */
/* Manrope */
/* --------------------- */
@font-face {
    font-family: ManropeVariable;
    src: url(/assets/fonts/Manrope/Manrope-VariableFont_wght.woff2) format('woff2');
    font-weight: 1 999;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope/manrope-bold-webfont.woff2) format('woff2'),
         url(/assets/fonts/Manrope/manrope-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope/manrope-regular-webfont.woff2) format('woff2'),
         url(/assets/fonts/Manrope/manrope-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope/manrope-light-webfont.woff2) format('woff2'),
         url(/assets/fonts/Manrope/manrope-light-webfont.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}
/* --------------------- */
*
{
    box-sizing: border-box;
}

html
{
    height: 100%;
    font-size: 1em; /* 16px */
    /* Background */
    background-color: var(--main-bg-color);
    background-image: url(/assets/images/main-background.svg);
    background-attachment: fixed;
    background-size: cover;
    color: var(--main-text-color);
}

a
{
    /* Removes styles from anchors */
    text-decoration: none;
    color: inherit;
}

body
{
    width: 66%;
    height: 100%;
    background-color: transparent;
    /* Horizontally centers element */
    margin: 0 auto;
    /* Creates grid layout */
    display: grid;
    grid-template-rows: 11% 78% 11%;
}

/* Logo and navigation */
body > header
{
    /* Displays logo and nav on opposite sides */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    /* Aligns content to the end of the header element (grid) */
    align-self: end;
}

/* Logo */
.company-logo
{
    /* Remove default styles */
    text-decoration: none;
    color: unset;
    /* Configures font */
    font-weight: 800;
    font-size: var(--logo-fontsize);
}

/* Logo (3D) */
.company-logo-3d
{
    /* Displays "3D" text vertical */
    writing-mode: vertical-rl;
    text-orientation: sideways;
    /* Sets font */
    font-family: Arial, Helvetica, sans-serif;
    /* Adding gradient to text */
    background-image: var(--logo-gradient-fallback);
    background-image: var(--logo-gradient);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* Remove spacing between 3D and text in logo */
    margin-right: -15px;
}

/* Logo (text) */
.company-logo-text
{
    /* Sets font */
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

/* navigation */
body > header > nav
{
    /* Removes markers and margins */
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    /* Moves items to the right */
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

/* --------------------- */
/* Gap between nav items */
/* --------------------- */
body > header > nav li
{
    padding-right: 34px;
}

body > header > nav:last-child
{
    padding-right: 0;
}
/* --------------------- */

main
{
    /* Horizontally centers main element */
    grid-row: 2;

    /* Centers items */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 30%;
    margin: 0 auto;
}

main > *
{
    width: 100%;
}


/* --------------------- */
/* Header before login form */
/* --------------------- */
.actions
{
    /* Removes markers and margins */
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    /* Moves items to the center */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* Sets font */
    font-family: ManropeVariable, Manrope, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.875rem; /* 30 px */
}

.action.current
{
    /* Adds gradient to text */
    background-image: var(--auth-action-link-gradient);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.action.separator
{
    /* Creates separator */
    height: 2.5rem;    /* 40px */
    border-right: 1px solid var(--secondary-text-color); 
}
/* --------------------- */

/* --------------------- */
/* Login form */
/* --------------------- */
.input-field
{
    /* Sets gaps between input fields */
    margin-bottom: 0.6875rem; /* 11px */
    
    /* Sets font */
    font-family: ManropeVariable, Manrope, Arial, Helvetica, sans-serif;
    font-size: 0.9375rem; /* 15px */
    line-height: 1.28125rem; /* 20.5px */
}

/* Last input field */
.input-field:last-of-type
{
    margin-bottom: 0;
}


/* Text input field */
.input-field.text input
{
    width: 100%;
    height: 3.25rem;    /* 52 px */   

    /* Creates space before text */
    padding-left: 1rem;

    /* Creates borders */
    border: 0.5px solid var(--form-input-text-border-color); 
    border-radius: 20px;

    /* Sets colors */
    background-color: var(--form-input-text-bg-color);
    color: var(--form-input-text-color);

    /* Sets font */
    font-weight: 400;
}

/* Text input placeholder */
.input-field.text label
{
    cursor: text;
    /* Sets colors */
    color: var(--form-input-placeholder-color);

    /* Sets font */
    font-weight: 300;
}

/* Submit button */
.input-field.submit button
{
    width: 100%;
    height: 2.5rem;     /* 40px */

    /* Sets rounded corners */
    border-radius: 20px;

    /* Sets font */
    font-size: 1rem;         /* 16px */
    line-height: 1.36625rem; /* 21.86px */

    /* Sets colors */
    color: var(--form-submit-text-color);
    background-image: var(--form-submit-filled-gradient);
    background-size: var(--form-submit-filled-bg-size);
    border: none;

    /* Sets animation speed */
    transition: 0.5s;
}

.input-field.submit button:hover
{
    cursor: pointer;
    /* Sets animation direction */
    background-position: right center;
}

/* Pressed submit button */
.input-field.submit button:active
{
    transition: 0.2s;
    box-shadow: var(--form-submit-box-shadow);
}

/* ---------------------------------*/
/* Checkbox button with radio style */
/* ---------------------------------*/
.input-field.checkbox-radio input
{
    /* Removes standard checkbox bullet */
    display: none;

    /* Sets cursor */
    cursor: pointer;
}

/* Checkbox-radio label */
.input-field.checkbox-radio label
{
    /* Centers checkbox bullet and label */
    display: flex;
    align-items: baseline;

    /* Sets cursor */
    cursor: pointer;

    /* Sets font */
    font-weight: 300;
}

/* "Remember me" and "Reset Password" options */
.input-field.options
{
    /* Places the options on opposite sides */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /* Sets bigger margin between others input fields */
    margin: 1rem 0;
}

.input-field.options > *
{
    /* Centers options horizontally */
    margin: auto 0;
}

/* Checkbox-radio bullet */
.input-field.checkbox-radio label:before
{
    /* Creates checkbox bullet */
    content: '';

    /* Sets margin between checkbox bullet and label */
    margin-right: 0.5rem;

    /* Sets checkbox bullet size */
    height: 0.5rem;
    width: 0.5rem;

    /* Sets checkbox bullet border */
    border: 1px solid var(--form-checkbox-not-active-color);

    /* Sets bullet's area without background color */
    background-clip: content-box;
    padding: 1px;

    /* Rounds checkbox bullet */
    border-radius: 50%;

    /* Sets animation */
    transition: background-color .3s ease;
}

/* Label of checked button */
.input-field.checkbox-radio input:checked ~ label::before
{
    background-color: var(--form-checkbox-active-color);
    border-color: var(--form-checkbox-active-color);
}
/* --------------------- */
