@font-face {
    font-family: OpenSans;
    src: url(/assets/fonts/OpenSans-ExtraBold.woff2) format('woff2'),
         url(/assets/fonts/OpenSans-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
}

html
{
    /* Background */
    height: 100%;
    background-color: var(--main-bg-color);
    background-image: url(/assets/images/main-background.svg);
    background-attachment: fixed;
    background-size: cover;
}

body
{
    width: 66%;
    /* Horizontally center */
    margin: 0 auto;
    background-color: transparent;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* Logo and navigation */
body > header
{
    /* Displays logo and nav on opposite sides */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    /* Sets the distance between upper border of body and header */
    flex-grow: 10;
}

/* Logo */
.company-logo
{
    /* Remove default styles */
    text-decoration: none;
    color: unset;
    /* Configures font */
    font-weight: 800;
}

/* Logo (3D) */
.company-logo-3d
{
    /* Displays "3D" text vertical */
    writing-mode: vertical-rl;
    text-orientation: sideways;
    /* Sets font */
    font-family: Arial, Helvetica, sans-serif;
    /* Adding gradient to text */
    background-image: var(--logo-gradient-fallback);
    background-image: var(--logo-gradient);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* Remove spacing between 3D and text in logo */
    margin-right: -15px;
}

/* Logo (text) */
.company-logo-text
{
    /* Sets font */
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    color: var(--heavy-text);
}

/* navigation */
body > header > nav
{
    flex-shrink: 4;
    /* Removes markers and margins */
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    /* Moves items to the right */
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

/* --------------------- */
/* Gap between nav items */
/* --------------------- */
body > header > nav li
{
    padding-right: 34px;
}

body > header > nav:last-child
{
    padding-right: 0;
}
/* --------------------- */


main
{
    height: auto;
    /* Moves items to the center */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    flex-grow: 80;
}

main-after::after
{
    margin-top: auto;
}

/* Header before login form */
main > header > *
{
    /* Removes markers and margins */
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    /* Moves items to the center */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

footer
{
    flex-grow: 10;
}
